@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 96%;
  --copy-primary: 0 0% 3.14%;
  --copy-secondary: 0 0% 38%;
  --copy-tertiary: 0 0% 54.9%;
  --border: 0 0% 89%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --copy-primary: 0 0% 100%;
    --copy-secondary: 0 0% 70.6%;
    --copy-tertiary: 0 0% 54.9%;
    --border: 0 0% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    color: hsl(var(--copy-primary));
    background: hsl(var(--background));
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  }

  .max-w-container {
    @apply mx-auto w-full px-5;
    max-width: 68rem;
  }

  .prose {
    @apply mx-auto max-w-4xl px-5;

    h1,
    h2 {
      @apply mt-11 text-4xl;
    }

    h3,
    h4 {
      @apply mt-11 text-3xl font-normal;
    }

    h5,
    h6 {
      @apply mt-11 text-2xl font-normal;
    }

    p {
      @apply mt-5 font-normal md:text-lg;
    }

    a {
      @apply text-blue-500 underline;
    }

    ul {
      @apply ml-5 list-disc font-bold md:text-lg;
    }

    ol {
      @apply ml-5 list-decimal font-bold md:text-lg;
    }

    blockquote {
      @apply border-l-4 pl-5 italic text-copy-secondary;
    }

    hr {
      @apply my-10;
    }
  }
}
