@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 96%;
  --copy-primary: 0 0% 3.14%;
  --copy-secondary: 0 0% 38%;
  --copy-tertiary: 0 0% 54.9%;
  --border: 0 0% 89%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --copy-primary: 0 0% 100%;
    --copy-secondary: 0 0% 70.6%;
    --copy-tertiary: 0 0% 54.9%;
    --border: 0 0% 20%;
  }
}

@layer base {
  * {
    @apply border-border 
  }

  body {
    color: hsl(var(--copy-primary));
    background: hsl(var(--background));
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  }

  .max-w-container {
    @apply mx-auto w-full px-5;
    max-width: 68rem;
  }
}
